
ul.thumbnails
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/300x120", alt="")
    div.caption
        h4 Mug & Bean 
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/300x120", alt="")
    div.caption
        h4 Q's Coffee Shop
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.    
        
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/300x120", alt="")
    div.caption
        h4 Hot Coffee Cafe
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. 
        
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/300x120", alt="")
    div.caption
        h4 News Cafe
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
