
ul.thumbnails
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/200x120", alt="")
      
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/200x120", alt="")
      
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/200x120", alt="")
      
  li.span2
    div.thumbnail
      img(data-src="/javascripts/holder.js/200x120", alt="")