
div(class='well', style='text-align:center;')
  form(style='text-align:center; margin-bottom: -5px; padding-bottom: 0px')
    div(class='input-append')
      input(class='span2', style='width: auto', placeholder='Email address',id='appendedInputButton', type='text')
      button(class='btn btn-success', type='button') Subscribe
