div(class='well')
  form(style='text-align:left')
    h4 Get the latest news 

    div(class='input-append')
      input(class='span3', placeholder='Email address',id='appendedInputButton', type='text')
      button(class='btn btn-success', type='button') Notify