  
div(id="myCarousel", class="carousel slide")
  div.carousel-inner
    div(class="item active")
      img(src="images/examples/slide-03.jpg", alt="")
          
      div.container
        div.carousel-caption
          h1 Discover
              
          p(class="lead") Find the best places to work from using your mobile devices.


    div(class="item")
      img(src="images/examples/slide-02.jpg", alt="")
          
      div.container
        div.carousel-caption
          h1 Connect
              
          p.lead Meet other hackers who also love working from coffee shops.          
         
    div(class="item")
      img(src="images/examples/slide-03.jpg", alt="")
          
      div.container
        div.carousel-caption
          h1 Collaborate
              
          p.lead Find and connect with other hackers 

            
            
    div(class="item")
      img(src="images/examples/slide-01.jpg", alt="")
          
      div.container
        div.carousel-caption
          h1 Share
              
          p.lead Share your favourite spots and what you are working on
            
            
  a(class="left carousel-control", data-slide="prev", href="#myCarousel") 
    &lsaquo;
  a(class="right carousel-control", data-slide="next", href="#myCarousel")
    &rsaquo;