
footer
  div.container    
    p.more
      a(href='#') 
        strong About
 
      a(href='#')  
        strong Blog   

      a(href='#') 
        strong FAQ  
    p
      &copy; 2013 Raging Flame 
      &middot;  
      a(href='#') Privacy 
      &middot; 
      a(href='#') Terms
    
script(src="javascripts/jquery.js")
script(src="javascripts/bootstrap-transition.js")
script(src="javascripts/bootstrap-carousel.js")
script(src="javascripts/holder.js")
script(type="text/javascript")
  (function ($) {
    $(function(){
      $('#myCarousel').carousel({
        interval: 10000
      });
    })
  }(window.jQuery));
