
header
  div.row-fluid
    div.span7
      a(href='/', class='pull-left', style='margin-right: 5px; margin-right: 20px;')
        img(src='images/logo.png', alt='Hacking Spots Logo', Title='Hacking Spots')
      form(class='form-inline', style='margin-top: 16px;')
        input(type='text', id='main-search', style='padding: 10px; font-size: 20px; margin-right: 2px; width:400px; height:24px;', class='input-xlarge', placeholder='Enter a location...')  
        button(class='btn btn-large btn-success', style='padding: 11px 15px 11px 15px;')
          i(class='icon-search icon-white')
      
    div.span5
      ul(class='nav nav-pills pull-right', style='margin-top: 25px; margin-right: 10px;')
        li
          a(href='#') Community
                       
        li
          a(href='#') Photos
            
        li
          a(href='#') Register
            
        li
          a(href='#') Login
            
        li
          button(class='btn btn-danger', style='margin-left: 10px;') ADD A SPOT
