
header
  div.row-fluid
    div.span7
      a(href='/', class='pull-left', style='margin-right: 40px;')
        img(src='images/logo.png', alt='Hacking Spots Logo', Title='Hacking Spots')
      form(class='form-inline', style='margin-top: 16px;', method='post', action='spots', name='spots-search', id='spots-search')
        input(type='text', id='main-search', style='padding: 10px; font-size: 20px; margin-right: 2px; width:400px; height:24px;', class='input-xlarge', placeholder='Enter a location...')
        input(type='hidden', name='lat', value='')
        input(type='hidden', name='lng', value='')
        input(type='hidden', name='location', value='')
        input(type='hidden', name='formatted_address', value='')
        input(type='hidden', name='postal_code', value='')
        input(type='hidden', name='locality', value='')
        input(type='hidden', name='sublocality', value='')
        input(type='hidden', name='country_short', value='')
        input(type='hidden', name='administrative_area_level_1', value='')      
      
    div.span5
      ul(class='nav nav-pills pull-right', style='margin-top: 25px; margin-right: 10px;')
        li
          a(href='#') Community
                       
        li
          a(href='#') Photos
            
        li
          a(href='#') Register
            
        li
          a(href='#') Login
            
        li
          button(class='btn btn-danger', style='margin-left: 10px;') ADD A SPOT
