
header
  div.container
    div.row-fluid
      div.span6
        div.input-prepend
          span(class="add-on", style="background: #ffffff; border-right: 0px; border-right-style:none")
            i.icon-search 
          input(class="x-large", id="prependedInput", style="border-left: 0px; border-left-style:none", type="text", placeholder="Where do you want to go")