extends layout

block content
  include modules/slider
      
  div(class="container marketing")
  
    div.row
      div.span8
        H2 Featured Spots
        
        include modules/featured-spots
        
        
        H2 Latest Hackers
        
        include modules/latest-users
              
              
      div.span4
        include modules/notify
          


    
    
    

