extends layout

block content

  div(class="container marketing")
    input(type='hidden', name='map-add', id='map-add', value='#{params.formatted_address}')   
    div(class='well well-small', style='margin-top:20px; font-weight: bold') 
      div.btn-group
        button(class='btn view-map btn-primary', style='font-size:16px; font-weight: bold') Map
        button(class='btn', style='font-size:16px; font-weight: bold') List
       
      span(style='margin-left: 10px') #{params.locality}
       
       
    div.row
      div.span9 
        div(id='map-cont', class='well', style='height: 400px;')
     
     
      div.span3 
